<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./components/meta') %>
</head>

<body>
	<%- include('./components/header') %>
	<%- include('./components/about') %>
	<%- include('./components/skills') %>
	<%- include('./components/projects') %>
	<%- include('./components/contact') %>

	<%- include('./components/scripts') %>
</body>

</html>